################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TFSAdminDashboard/TFSAdminDashboard/Web.config
/TFSAdminDashboard/TFSAdminDashboard/Web.Release.config
/TFSAdminDashboard/TFSAdminDashboard/Web.Debug.config
/TFSAdminDashboard/packages
